@model webCentenario.Models.ViewModels.actividadViewModel
@{
    ViewBag.Title = "Modificar actividad";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h3>Modificar <b>@Model.actNombre</b></h3>
<br />

@using (Html.BeginForm("Modificar", "Actividades", FormMethod.Post))
{
    <div class="row">
        <div class="col mb-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row g-3">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.actID)
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.actNombre, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.actNombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.actNombre, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.selResponsable, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.selResponsable, Model.usuariosList, "(Seleccionar responsable)", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.selResponsable, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.actObservacion, htmlAttributes: new { @class = "form-label" })
                            @Html.TextAreaFor(model => model.actObservacion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.actObservacion, "", new { @class = "text-danger" })
                        </div>
                        <div class="col">
                            @Html.ActionLink("Volver", "Listado", "Actividades", new { }, new { @class = "btn btn-secondary" })
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $("#selResponsable").select2({
            theme: "bootstrap",
            placeholder: '(Seleccionar responsable)',
            width: 'auto'
        });
    </script>
}