@model webCentenario.Models.ViewModels.postViewModel

@{
    ViewBag.Title = "Crear noticia";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h3>Crear noticia</h3>
<br />

<link href="~/Content/summernote/summernote-lite.css" rel="stylesheet">

@using (Html.BeginForm("Crear", "Noticias", FormMethod.Post))
{
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            @Html.LabelFor(model => model.postTitulo, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.postTitulo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.postTitulo, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(model => model.selCat, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.selCat, Model.catList, "(Seleccionar categoría)", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.selCat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(model => model.postContenido, htmlAttributes: new { @class = "form-label" })
                        @Html.TextAreaFor(model => model.postContenido, new { @class = "form-control", @row = 5 })
                        @Html.ValidationMessageFor(model => model.postContenido, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <button type="submit" value="Publicar" class="btn btn-primary">Publicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Content/summernote/summernote-lite.js"></script>
    <script src="~/Content/summernote/lang/summernote-es-ES.js"></script>
    <script src="~/Content/js/text-editor.js"></script>
}