@using webCentenario.Helpers
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.png" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title - Centenario WEB</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dashboard")
    <script>
                window.addEventListener('DOMContentLoaded', event => {

                    @* Alternar la navegación lateral *@
                    const sidebarToggle = document.body.querySelector('#sidebarToggle');
                    if (sidebarToggle) {
                        @*
                        // Descomentar abajo para mantener la barra lateral cuando se refresca la página
                         if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
                             document.body.classList.toggle('sb-sidenav-toggled');
                         }*@
                        sidebarToggle.addEventListener('click', event => {
                            event.preventDefault();
                            document.body.classList.toggle('sb-sidenav-toggled');
                            localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                        });
                    }

                });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1C30CD">
        <a href="@Url.Action("Inicio", "Sistema")"><img src="~/Content/images/favicon.png" alt="" height="40" class="d-inline-block align-top" style="margin-right: 10px;"></a>
        @Html.ActionLink("Centenario WEB", "Inicio", "Sistema", new { area = "" }, new { @class = "navbar-brand" })
        <div class="nav" style="min-height:40px;">
            <button class="btn btn-link navbar-toggler mr-2" id="sidebarToggle" type="button" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="btn btn-link navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav">
                <span class="fas fa-arrow-down"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("PORTAL", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                @if (Session["Session"] != null && Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("SISTEMA", "Inicio", "Sistema", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            @if (Session["Session"] == null && !Request.IsAuthenticated)
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Acceso usuarios", "Acceso", "Usuarios", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userNavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @HttpContext.Current.Session["userEmail"].ToString()
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="userNavDropdown">
                            <a class="dropdown-item" href="@Url.Action("Contraseña", "Usuarios")">Cambiar contraseña</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Desconectarse", "Usuarios")">Cerrar sesión</a>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </nav>




    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Sistema</div>
                        <a class="nav-link" href="@Url.Action("Inicio", "Sistema")">
                            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                            Inicio
                        </a>

                        <div class="sb-sidenav-menu-heading">Socios</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCuotas" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-wallet"></i></div>
                            Mis cuotas
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCuotas" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Deudas", "Cuotas")">Cuotas societarias</a>
                                <a class="nav-link" href="@Url.Action("Historial", "Cuotas")">Historial de pagos</a>
                            </nav>
                        </div>


                        <!-- Mis Actividades -->
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseActividades" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-futbol"></i></div>
                            Mis actividades
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseActividades" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Deudas", "Actividades")">Cuotas de actividades</a>
                                <a class="nav-link" href="@Url.Action("Historial", "Actividades")">Historial de pagos</a>
                            </nav>
                        </div>

                        <!-- Alquileres -->
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAlquileres" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-solid fa-book"></i></div>
                            Reservas
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseAlquileres" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">    
                                <a class="nav-link" href="@HttpContext.Current.Session["linkPadel"]" target="_blank">Pádel</a>
                                <a class="nav-link" href="@HttpContext.Current.Session["linkTenis"]" target="_blank">Tenis</a>
                            </nav>
                        </div>


                        @if (Html.ItsAuthorized("Responsable actividad", "Cobrador", "Secretaria", "Administrador") == true)
                        {
                            <div class="sb-sidenav-menu-heading">Cobranzas</div>
                            if (Html.ItsAuthorized("Cobrador", "Secretaria", "Administrador") == true)
                            {
                                <a class="nav-link" href="@Url.Action("Cobrar", "Cuotas")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cash-register"></i></div>
                                    Cuotas
                                </a>
                            }
                            if (Html.ItsAuthorized("Responsable actividad", "Secretaria", "Administrador") == true)
                            {
                                <a class="nav-link" href="@Url.Action("Cobrar", "Actividades")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cash-register"></i></div>
                                    Actividades
                                </a>
                            }
                        }
                        @if (Html.ItsAuthorized("Responsable actividad", "Profesor", "Cobrador", "Secretaria", "Auxiliar", "Administrador") == true)
                        {
                            <div class="sb-sidenav-menu-heading">Gestión</div>
                            if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSociosGes" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-id-card"></i></div>
                                    Socios
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseSociosGes" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("Crear", "Socios")">Crear socios</a>
                                        <a class="nav-link" href="@Url.Action("Listado", "Socios")">Lista de socios</a>
                                        <a class="nav-link" href="@Url.Action("Bajas", "Socios")">Lista de bajas</a>
                                    </nav>
                                </div>
                            }
                            if (Html.ItsAuthorized("Cobrador", "Secretaria", "Administrador") == true)
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCuotasGes" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-list-alt"></i></div>
                                    Cuotas
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseCuotasGes" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">

                                        @if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                                        {
                                            <a class="nav-link" href="@Url.Action("Generar", "Cuotas")">Generar cuotas</a>
                                            <a class="nav-link" href="@Url.Action("Cobradas", "Cuotas")">Cuotas cobradas</a>
                                        }

                                        <a class="nav-link" href="@Url.Action("Adeudadas", "Cuotas")">Cuotas adeudadas</a>

                                        @if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                                        {
                                            <a class="nav-link" href="@Url.Action("Pendientes", "Cuotas")">Cuotas pendientes</a>
                                        }
                                    </nav>
                                </div>
                            }

                            if (Html.ItsAuthorized("Responsable actividad", "Profesor", "Secretaria", "Administrador") == true)
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseActGes" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-futbol"></i></div>
                                    Actividades
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseActGes" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                                        {
                                            <a class="nav-link" href="@Url.Action("Crear", "Actividades")">Crear actividad</a>
                                        }
                                        @if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                                        {
                                            <a class="nav-link" href="@Url.Action("Generar", "Actividades")">Generar cuotas</a>
                                        }
                                        @if (Html.ItsAuthorized("Profesor", "Secretaria", "Administrador") == true)
                                        {
                                            <a class="nav-link" href="@Url.Action("Listado", "Actividades")">Lista de actividades</a>
                                        }
                                        @if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                                        {
                                            <a class="nav-link" href="@Url.Action("Pendientes", "Actividades")">Cuotas pendientes</a>
                                        }
                                    </nav>
                                </div>
                            }

                            if (Html.ItsAuthorized("Cobrador", "Secretaria", "Administrador") == true)
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGFGes" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                    Grupos familiares
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseGFGes" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                                        {
                                            <a class="nav-link" href="@Url.Action("Crear", "Grupos")">Crear grupo</a>
                                        }
                                        <a class="nav-link" href="@Url.Action("Listado", "Grupos")">Lista de grupos</a>
                                    </nav>
                                </div>
                            }

                            if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCSSist" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-th-large"></i></div>
                                    Categorías
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseCSSist" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("Crear", "Categorias")">Crear categoría</a>
                                        <a class="nav-link" href="@Url.Action("Listado", "Categorias")">Lista de categorías</a>
                                        <a class="nav-link" href="@Url.Action("Auditoria", "Categorias")">Auditoría</a>
                                    </nav>
                                </div>
                            }

                            <!-- Administración Alquileres -->
                            if (Html.ItsAuthorized("Secretaria", "Auxiliar", "Administrador") == true)
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCSSalquileres" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                                    Reservas
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseCSSalquileres" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@HttpContext.Current.Session["linkPadelAdmin"]" target="_blank">Administrar Pádel</a>
                                        <a class="nav-link" href="@HttpContext.Current.Session["linkTenisAdmin"]" target="_blank">Administrar Tenis</a>
                                    </nav>
                                </div>
                            }

                            <!-- Administrar Cobradores -->
                            if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCSScobradores" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cash-register"></i></div>
                                    Cobradores
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseCSScobradores" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("Crear", "Cobradores")">Crear cobrador</a>
                                        <a class="nav-link" href="@Url.Action("Listado", "Cobradores")">Administrar cobradores</a>
                                    </nav>
                                </div>
                            }
                        }
                        @if (Html.ItsAuthorized("CM", "Secretaria", "Administrador") == true)
                        {
                            <div class="sb-sidenav-menu-heading">Contenido</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNoticas" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
                                Noticias
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseNoticas" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("Crear", "Noticias")">Crear noticia</a>
                                    <a class="nav-link" href="@Url.Action("Listado", "Noticias")">Lista de noticias</a>
                                </nav>
                            </div>
                        }
                        @if (Html.ItsAuthorized("Secretaria", "Administrador") == true)
                        {
                            <div class="sb-sidenav-menu-heading">Sistema</div>

                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuariosSec" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Usuarios
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUsuariosSec" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("Crear", "Usuarios")">Crear usuarios</a>
                                    <a class="nav-link" href="@Url.Action("Listado", "Usuarios")">Lista de usuarios</a>
                                    <a class="nav-link" href="@Url.Action("Pendientes", "Usuarios")">Usuarios pendientes</a>
                                </nav>
                            </div>
                        }
                    </div>
                </div>
                <br />
                @*
                    <div class="sb-sidenav-footer">
                        <div style="height:40px;"></div>
                    </div>
                *@
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="container-fluid mt-4" style="margin-bottom:75px;">
                @RenderBody()
            </div>
            <footer class="footer">
                <center><p style="font-size: calc(0.55em + 0.55vw)">Centenario WEB &copy; @DateTime.Now.Year - Desarrollado por <a href="https://conmate.com.ar">ConMate</a></p></center>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>